.Col {
    box-sizing: border-box;
    padding: 0 15px;

    &_center {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &_alignItemsCenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &_right {
        display: flex;
        flex-direction: row-reverse;
    }

    &_baseline {
        display: flex;
        align-items: baseline;
    }

    &_1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    &_2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    &_3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    &_4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    &_5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    &_6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    &_7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    &_8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    &_9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    &_10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    &_11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    &_12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .Col_xs {
        box-sizing: border-box;
        padding: 0 15px;

        &_center {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &_alignItemsCenter {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &_right {
            display: flex;
            flex-direction: row-reverse;
        }

        &_baseline {
            display: flex;
            align-items: baseline;
        }

        &_clear_padding {
            padding: 0;
        }

        &_1 {
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }

        &_2 {
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }

        &_3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        &_4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }

        &_5 {
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }

        &_6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        &_7 {
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }

        &_8 {
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }

        &_9 {
            flex: 0 0 75%;
            max-width: 75%;
        }

        &_10 {
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
        }

        &_11 {
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
        }

        &_12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
