<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Dear, new Akaiito Friend!</p>

<p>Thank You for joining Akaiito. We are happy that You are with us now!</p>
<p>We will share with You all our latest news and the most important information about the project development.</p>

<p>In case of any questions, please, do  not hesitate to contact us by e-mail: info@akaiito.io or connect to our Telegram chat to participate in live conversation with our Community: https://telegram.me/akaiito_community .</p>

<p>Sincerely Yours,<br />
    Akaiito</p>
</body>
</html>