.FormLogin {
    width: 640px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

    &__body {
        padding: 50px 100px 15px;

        & .input {
            width: 100%;
        }
    }

    &__field {
        display: flex;
        align-items: center;
        margin-bottom: 34px;

        & .Icon {
            margin-right: 34px;
        }
    }

    &__errors {
        text-align: center;
        color: rgba(219, 52, 72, 1);
    }

    & .Form__FormHeader {
        background-color: #ce4655;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .FormLogin {
        width: 90%;

        & .Form__FormHeader {
            font-size: 22px;
        }

        &__body {
            padding: 50px 25px 15px;

            & .link {
                display: block;
            }

            & .button_theme_default {
                padding-right: 10px;
                padding-left: 10px;
            }
        }

        &__field {
            & .Icon {
                margin-right: 20px;
            }

            &:last-child {
                margin-bottom: 25px;
            }
        }
    }
}
